{:paths ["src"]
 :tasks {:requires ([corasaurus-hex.dev-to.posts :as posts])
         test (doseq [post-path (posts/paths-to-posts-with-tests ".")]
                (println "-- starting tests for:" post-path)
                (shell {:dir post-path} "bb test")
                (println "\n-- ended tests for:" post-path "\n\n"))}}
